header.site-header
  nav.main-nav
    ul
      li
        a.home(href='/', class=current === "home" ? "current" : "") Clanimals 
      li
        a.teams(href='/teams', class=current === "teams" ? "current" : "") Teams
      li
        a.leagues(href='/leagues', class=current === "leagues" ? "current" : "") Leagues
      li
        a.profile(href='/profile', class=current === "profile" ? "current" : "") Profile
