html
  head
    title!= title
    
    script(src="../vendor/angular.min.js")
    script(src="../static/js/ticker.js")
    script(src="../vendor/jquery-2.1.1.min.js")
    script(src="../vendor/jquery.bracket.min.js")

    link(rel='stylesheet', href='../static/css/ticker.css')
    link(rel='stylesheet', href='../vendor/jquery.bracket.min.css')
  body
    include ../modules/header.jade
