<!DOCTYPE html>
<html ng-app="ticker">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../js/ticker.js"></script>
    <script src="../vendor/jquery-2.1.1.min.js"></script>
    <script src="../vendor/jquery.bracket.min.js"></script>
    <link rel="stylesheet" href="../static/css/ticker.css">
    <link rel="stylesheet" href="../vendor/jquery.bracket.min.css">
  </head>
  <body>

    <header class="site-header">
      <nav class="main-nav">
        <ul>
          <li><a href="./index.html" class="home">Ggwp</a></li>
          <li><a class="teams current">Teams</a></li>
          <li><a class="leagues">Leagues</a></li>
          <li><a class="profile">Profile</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
